<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='stylesVideo.css'>
    <title>InnerCircle-VideoChat</title>
</head>
<body>


    
    <!-- <button type="button" id="join-btn">Join Meeting</button>

	<div id="stream-wrapper">
		<div id="video-streams"></div>

		<div id="stream controls"></div>
			<button id="leave-btn">Leave meeting</button>
			<button id="mic-btn">Mic On</button>
			<button id="camera-btn">Camera On</button>
		</div>
	</div> -->

    <script src="./AgoraRTC_N-4.17.2.js"></script>
    <script type="module" src="./app.js"></script>
</body>
</html>