<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>InnerCircle</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'> -->
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="css/superfish.css">

	<link rel="stylesheet" href="css/style.css">


	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		<div id="fh5co-wrapper">
		<div id="fh5co-page">
		<div id="fh5co-header">
			<header id="fh5co-header-section">

			</header>
		
		<div class="page-header text-center">
			<h1>Search & Filter</h1>
			<a href="/" class="btn btn-default btn-sm">Home</a>
			<a href="/about" class="btn btn-default btn-sm">Search</a>
			<a href="/profile" class="btn btn-default btn-sm">Profile</a>
			<a href="/logout" class="btn btn-default btn-sm">Logout</a>
		</div>
	
		<!-- end:header-top -->
		<div id="fh5co-about">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>If you want to connect a Person to a Thearapist drop them in the form below and we will add them to the search filter</h3>
						
					</div>
				</div>
			</div>
			<div class="container">
			<form action="/therapists" class="row g-3" id="inputForm" method="post">
				<div class="col-md-6">
					<label for="inputEmail4" class="form-label">Email</label>
					<input type="email" class="form-control" id="email" name="email">
				</div>
				<div class="col-md-6">
					<label for="specialty" class="form-label">Specialty</label>
					<input type="text" class="form-control" id="specialty" name="specialty" placeholder="Marriage & Family Therapist etc.">
				</div>
				<div class="col-md-6">
				  <label for="inputFirstName" class="form-label">First Name</label>
				  <input type="firstName" class="form-control" id="inputFirstName" name="firstName">
				</div>
				<div class="col-md-6">
				  <label for="inputLastName" class="form-label">Last Name</label>
				  <input type="lastName" class="form-control" id="inputLastName"
				  name="lastName">
				</div>
				<div class="col-md-6">
				  <label for="inputAddress" class="form-label">Address </label>
				  <input type="text" class="form-control" id="inputAddress" name="streetAddress" placeholder="Office Building, studio, or floor">
				</div>
				<div class="col-md-6">
				  <label for="inputCity" class="form-label">City</label>
				  <input type="text" class="form-control" id="inputCity" name="city">
				</div>
				<div class="col-md-2">
				  <label for="inputState" class="form-label">State</label>
				  <select id="inputState" class="form-select" name="state">
					<option selected>Choose...</option>
					<option value="AL">AL</option>
					<option value="AK">AK</option>
					<option value="AZ">AZ</option>
					<option value="AR">AR</option>
					<option value="CA">CA</option>
					<option value="CO">CO</option>
					<option value="CT">CT</option>
					<option value="DE">DE</option>
					<option value="FL">FL</option>
					<option value="GA">GA</option>
					<option value="HI">HI</option>
					<option value="ID">ID</option>
					<option value="IL">IL</option>
					<option value="IN">IN</option>
					<option value="IA">IA</option>
					<option value="KS">KS</option>
					<option value="KY">KY</option>
					<option value="LA">LA</option>
					<option value="ME">ME</option>
					<option value="MD">MD</option>
					<option value="MA">MA</option>
					<option value="MI">MI</option>
					<option value="MN">MN</option>
					<option value="MS">MS</option>
					<option value="MO">MO</option>
					<option value="MT">MT</option>
					<option value="NE">NE</option>
					<option value="NV">NV</option>
					<option value="NH">NH</option>
					<option value="NJ">NJ</option>
					<option value="NM">NM</option>
					<option value="NY">NY</option>
					<option value="NC">NC</option>
					<option value="ND">ND</option>
					<option value="OH">OH</option>
					<option value="OK">OK</option>
					<option value="OR">OR</option>
					<option value="PA">PA</option>
					<option value="RI">RI</option>
					<option value="SC">SC</option>
					<option value="SD">SD</option>
					<option value="TN">TN</option>
					<option value="TX">TX</option>
					<option value="UT">UT</option>
					<option value="VT">VT</option>
					<option value="VA">VA</option>
					<option value="WA">WA</option>
					<option value="WV">WV</option>
					<option value="WI">WI</option>
					<option value="WY">WY</option>
				  </select>
				</div>
				<div class="col-md-2">
				  <label for="ethnicity" class="form-label">Ethnicity</label>
				  <select name="ethnicity" id="ethnicity" class="form-control">
					<option value="">Any</option>
					<option value="africanamerican">African-American</option>
					<option value="asian">Asian</option>
						<option value="hispaniclatino">Hispanic/Latino</option>
						<option value="nativeamerican">Native American</option>
						<option value="pacificislander">Pacific Islander</option>
						<option value="other">Other</option>
				  </select>
				</div>
				<div class="col-md-6">
					<label for="exampleFormControlInput1" class="form-label">Review Title</label>
					<input type="text" class="form-control" id="reviewTitle" name="reviewTitle" placeholder="One of the best sessions I've had">
				  </div>
				  
				  <div class="mb-3">
					<label for="exampleFormControlTextarea1" class="form-label">Review Description</label>
					<textarea class="form-control" id="review" rows="3" name="reviewDescription"></textarea>
				  </div>
				  <div class="col-md-6">
					<label for="rating" class="form-label">Rating:</label>
  					<input type="number" id="rating" name="rating" min="1" max="5" class="form-control" name="rating" required>
				  </div>
				  <div class="col-md-6">
					<label for="name" class="form-label">Your Name (Optional):</label>
  					<input type="text" id="name" name="name" class="form-control" >
				  </div>
				  <div class="col-md-6">
					<label for="insurances" class="form-label">Accepted Insurances:</label>
					<select class="form-select" size="3" aria-label="size 3 select example" id="insurances" name="insurances">
						<option value="Aetna">Aetna</option>
    					<option value="Blue Cross Blue Shield">Blue Cross Blue Shield</option>
    					<option value="Cigna">Cigna</option>
    					<option value="Humana">Humana</option>
    					<option value="Medicaid">Medicaid</option>
    					<option value="Medicare">Medicare</option>
    					<option value="UnitedHealthcare">UnitedHealthcare</option>
					</select>
				  </div>
				<div class="col-12">
				  <button type="submit" class="btn btn-primary">Submit Review</button>
				</div>
			  </form>
			</div>

			<div class="container">
				<h3>Search for a Thearpist</h3>
				<form action="/search" method="get">
					<h3>Search Criteria:</h3>
				
					<label for="specialty">Specialty:</label>
					<select name="specialty" id="specialty">
					  <option value="">Any</option>
					  <option value="Family Thearpist">Family Thearpist</option>
					  <option value="marriageandfamilythearpy">Marriage and Family Thearpy</option>
					  <option value="musicthearpy">Music Thearpy</option>
					  <option value="counseling">Counseling</option>
					</select>
				
					<label for="ethnicity">Ethnicity:</label>
					<select name="ethnicity" id="ethnicity">
					  <option value="">Any</option>
					  <option value="africanamerican">African-American</option>
					  <option value="asian">Asian</option>
  						<option value="hispaniclatino">Hispanic/Latino</option>
  						<option value="nativeamerican">Native American</option>
  						<option value="pacificislander">Pacific Islander</option>
  						<option value="other">Other</option>
					</select>
				
					<label for="insurances">Insurances:</label>
					<select name="insurances" id="insurances">
						<option value="Aetna">Aetna</option>
    					<option value="Blue Cross Blue Shield">Blue Cross Blue Shield</option>
    					<option value="Cigna">Cigna</option>
    					<option value="Humana">Humana</option>
    					<option value="Medicaid">Medicaid</option>
    					<option value="Medicare">Medicare</option>
    					<option value="UnitedHealthcare">UnitedHealthcare</option>
					</select>
				
					<label for="rating">Minimum Rating:</label>
					<select name="rating" id="rating">
					  <option value="">Any</option>
					  <option value="1">1</option>
					  <option value="2">2</option>
					  <option value="3">3</option>
					  <option value="4">4</option>
					  <option value="5">5</option>
					</select>
				
					<label for="city">City:</label>
					<input type="text" name="city" id="city">
				
					<label for="state">State:</label>
					<input type="text" name="state" id="state">
				
					<button type="submit">Search</button>
				  </form>
				  

			</div>



	
		<footer>
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
							<h3>About Us</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
						</div>
						<div class="col-md-6 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
							<h3>Our Services</h3>
							<ul class="float">
								<li><a href="#">Web Design</a></li>
								<li><a href="#">Branding &amp; Identity</a></li>
								<li><a href="#">Free HTML5</a></li>
								<li><a href="#">HandCrafted Templates</a></li>
							</ul>
							<ul class="float">
								<li><a href="#">Free Bootstrap Template</a></li>
								<li><a href="#">Free HTML5 Template</a></li>
								<li><a href="#">Free HTML5 &amp; CSS3 Template</a></li>
								<li><a href="#">HandCrafted Templates</a></li>
							</ul>

						</div>

						<div class="col-md-2 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
							<h3>Follow Us</h3>
							<ul class="fh5co-social">
								<li><a href="#"><i class="icon-twitter2"></i> Twitter</a></li>
								<li><a href="#"><i class="icon-facebook2"></i> Facebook</a></li>
								<li><a href="#"><i class="icon-google-plus2"></i> Google Plus</a></li>
								<li><a href="#"><i class="icon-instagram2"></i> Instagram</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="fh5co-copyright text-center">
					<p>&copy; 2016 Free HTML5 template. All Rights Reserved. <span>Designed with <i class="icon-heart"></i> by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images by <a href="http://unsplash.com/" target="_blank">Unsplash</a></span></p>	
				</div>
			</div>
		</footer>
	

	</div>
	<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<!-- jQuery -->


	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Stellar -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Superfish -->
	<script src="js/hoverIntent.js"></script>
	<script src="js/superfish.js"></script>

	<!-- Main JS (Do not remove) -->
	<script src="js/main.js"></script>

	</body>
</html>

