<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel='stylesheet' type='text/css' media='screen' href='stylesVideo.css'>
    <title>InnerCircle-VideoChat</title>
</head>
<body>
    
    <div class="page-header text-center">
        <h1> Video Chat</h1>
        <a href="/" class="btn btn-default btn-sm">Home</a>
        <a href="/about" class="btn btn-default btn-sm">Search</a>
        <a href="/profile" class="btn btn-default btn-sm">Profile</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div>
    <button type="button" id="joinBtn">Join Meeting</button>
    </div>
	<div id="stream-wrapper">
		<div id="video-streams"></div>

		<div id="stream controls"></div>
			<button id="leaveBtn">Leave meeting</button>
		</div>
	</div>

    <script type="module" src="./app.js"></script>
</body>
</html>